// Styles for the EBS Headless Drupal Demo

// Script font for headers
@import url(http://fonts.googleapis.com/css?family=Lobster);


// Colors
$EBSorange: #FF9F35;
$EBSdkOrange: darken($EBSorange, 20%);
$EBSgrey: #ccc;
$EBSdkGrey: darken($EBSgrey, 20%);
$EBSwhite: #fff;

// Vars
$EBSbasePadding: 10px;
$EBSbasePaddingSmall: 5px;

//Reset responsive images
img {
	max-width: 100%;
	width: auto;
	height: auto;
}


// Typography

h4 {
	font-family: "Lobster";
	color: $EBSorange;
}

h5, h6 {
	display: block;
	background-color: $EBSwhite;
	margin: 0;
	padding: 0;
	text-align: center;
}

h5 {
	background-color: $EBSdkGrey;
	padding: $EBSbasePadding;
}

h6 {
	background-color: $EBSgrey;
	padding: $EBSbasePaddingSmall;
}

// Lets syle some code!
code {
	background-color: $EBSgrey;
}

.bar.bar-stable {
	background-color: $EBSorange;
}
.EBScontent {
	padding: $EBSbasePadding;
	// Let's color some links
	a {
	color: $EBSorange;
	&:hover, &:visited{
		color: $EBSdkOrange;
	}
}
	//reset some ionic list stuff so they display!
	ul, ol {
		padding-left: 20px;
		margin-bottom: $EBSbasePadding;
		li {
			list-style-type: disc;
		}
	}
	// Lets style some links, and simple buttons, shall we.
	a {
	// General links
	text-decoration: none;
	&.btn {
	// Now links with the class btn
		display:block;
		text-align: center;
		color: $EBSwhite;
		background-color: $EBSgrey;
		padding: $EBSbasePadding;
		margin: $EBSbasePadding;
		&:hover {
			background-color: $EBSdkGrey;
		}
	}
	}
}

// User Profile Picture
#ProfilePictureWrap {
	max-width: 150px;
	width:auto;
	height:auto;
	margin-left: auto;
	margin-right: auto;
}

// Front page animation
 
@keyframes bannermove {
 0% {
    margin-left: 0px;
 }
 100% {
    margin-left: -1000px;
 }
 
}
 
@-moz-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
@-webkit-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
@-ms-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
 
@-o-keyframes bannermove {
 0% {
   margin-left: 0px;
 }
 100% {
   margin-left: -1000px;
 }
 
}
#scroller {
	height:100px;
    background: url(../images/Headless_Drupal-01.png);
    background-position: 0px 0px;
    background-size: auto 108px;
	background-repeat: repeat-x;
	-webkit-animation: bannermove 30s linear infinite;
       -moz-animation: bannermove 30s linear infinite;
        -ms-animation: bannermove 30s linear infinite;
         -o-animation: bannermove 30s linear infinite;
            animation: bannermove 30s linear infinite;
}
.mustache {
	margin-top: -49px;
	text-align: center;
	img {
		max-width: 100px;
	}
}
.headlessGraphicBtm {
	background: url(../images/Headless_Drupal-03.png);
    background-position: center -3px;
    background-size: auto 108px;
    background-repeat: no-repeat;
    padding-top: 110px;
    text-align: center;
    h1 {
	font-family: "Lobster";
	color: $EBSorange;
    }

}