// Styles for the EBS Headless Drupal Demo

// Colors
$EBSorange: #999;
$EBSgrey: #ccc;
$EBSwhite: #fff;

// Vars
$EBSbasePadding: 10px;
$EBSbasePaddingSmall: 5px;

//Reset responsive images
img {
	max-width: 100%;
	width: auto;
	height: auto;
}

h4 {
	
}
// Typography
h5, h6 {
	display: block;
	background-color: $EBSwhite;
	margin: 0;
	padding: 0;
	text-align: center;
}

h5 {
	background-color: $EBSorange;
	padding: $EBSbasePadding;
}

h6 {
	background-color: $EBSgrey;
	padding: $EBSbasePaddingSmall;
}

// Lets syle some code!
code {
	background-color: $EBSgrey;
}
.EBScontent {
	padding: $EBSbasePadding;
	//reset some ionic list stuff so they display!
	ul, ol {
		padding-left: 20px;
		margin-bottom: $EBSbasePadding;
		li {
			list-style-type: disc;
		}
	}
	// Lets style some links, and simple buttons, shall we.
	a {
	// General links
	text-decoration: none;
	&.btn {
	// Now links with the class btn
		display:block;
		text-align: center;
		color: $EBSwhite;
		background-color: $EBSorange;
		padding: $EBSbasePadding;
		margin: $EBSbasePadding;
		&:hover {
			background-color: lighten($EBSorange, 20%);
		}
	}
	}
}