<ion-view title="EBS HD Demo">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
  <h5>This page has static content in the app template.</h5>
  
  <div id="scroller" class="headlessGraphicTop"></div>
  <div class="headlessGraphicBtm">test</div>
  
  <div class="EBScontent">
    <p><strong>Aloha, and Mahalo!</strong> Today, we are going to learn a little bit about "Headless Drupal." This app is meant as a short guide to both "What the heck is Headless Drupal" and How to go about making an application utilizing these concepts. <strong>Spoiler alert, it will look a lot like this one!</strong></p>
    <p>Now, a little bit about this project. This is designed to be a simple, fun app project for folks @ Drupal Camp Baltimore, 2014. We purposefully left this code pretty simple, because, well, it's a project. We would love to DRY up some things, but felt for beginner to intermediate programmers, this may be a little more straightforward. And plus, we ran out of time. Feel free to <a href="https://github.com/rogerseyebyte/EBSheadlessDrupal">Fork This on GitHub</a> if you feel strongly about it, and we will surely pull in worthy commits!</p>
  </div>
  </ion-content>
</ion-view>