<div class="modal">
<ion-header-bar>
<h1 class="title">Login</h1>
<div class="buttons">
<button class="button button-clear" ng-click="closeLogin()">Close</button>
</div>
</ion-header-bar>
<ion-content>
<form ng-submit="doLogin()">
<div class="list">
<label class="item item-input">
<span class="input-label">Name</span>
<input type="text" ng-model="loginData.username">
</label>
<label class="item item-input">
<span class="input-label">Password</span>
<input type="password" ng-model="loginData.password">
</label>
<label class="item">
<button class="button icon-right ion-ios7-arrow-right button-block" type="submit">Log in</button>
</label>
<div class="row" ng-show="doingLogin">
<div class="col centered-content">
<i class="icon ion-loading-c loading-big"></i>
<h2>Logging ... </h2>
</div>
</div>
<div class="row" ng-show="loginSuccess">
<div class="col centered-content">
<i class="icon ion-ios7-checkmark-empty loading-big"></i>
<h2>Login Exit</h2>
</div>
</div>
</div>
</form>
</ion-content>
</div>